.big-webpack {
     background: url(../img/webpack.png) no-repeat center;
	 //background-color:red;
     height:500px;
 }
.small-webpack {
    background: url(../img/small-webpack.png) no-repeat center;
	//background-color:yellow;
    height:250px;
}